#flexcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
   }
  
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(110, 110, 241, 0.774);
    width: 15vw;
    height: 60vh;
    font-size: 1rem;
    border-radius: 15px;
    padding-top:3vh;
    padding-bottom: 3vh;
    margin: 7.5vh;
    box-shadow: 10px 10px;
   }
   
   .card-img {
    align-items: center;
    width: 50%;
    height: 55%;
   }

.card1 {
    background-color: rgba(241, 110, 110, 0.774);
    width: 10vw;
    height: 10vh;
    padding: 5vh;
    text-align: center;
    border-radius: 5px;
}

#hello {
    text-align: center;
    margin-top: 5vh;
}
   
@media screen and (max-width: 800px) {
    .card {
      width: 75%;
      margin: 5.5vh;
      height: 50%;
    }
    .card1 {
        width: 75%;
        margin: 5.5vh;
        height: 50%;
    }
    .title {
      font-size: 1.3rem;
    }
   }
   
   
   @media screen and (max-width: 1200px) and (min-width: 801px) {
    .card {
      width: 80%;
      margin: 6.5vh;
      height: 60%;
    }
    .card1 {
        width: 80%;
        margin: 6.5vh;
        height: 60%;
    }
    .title {
      font-size: 2rem;
    }
   }
