#flexcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
   }
  
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(110, 110, 241, 0.774);
    width: 15vw;
    height: 40vh;
    font-size: 1rem;
    border-radius: 15px;
    padding-bottom: 3vh;
    margin: 7.5vh;
    box-shadow: 10px 10px;
   }
   
   .card-img {
    align-items: center;
    width: 45%;
    height: 50%;
   }
   